[package]
name = "cawg-identity-core"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.78"
c2pa = { version = "0.33.0", features = ["openssl_ffi_mutex"] }
ciborium = "0.2.2"
did-method-key = "0.2.2"
hex-literal = "0.4.1"
iref = "3.2"
jumbf = "0.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"
serde_json = "1.0.114"
ssi = "0.8.0"
ssi-dids = "0.2.0"
ssi-json-ld = "0.3.0"
static-iref = "3.0"
thiserror = "1.0.61"
xsd-types = "0.9.5"

[dev-dependencies]
actix = "0.13.3"
c2pa = { version = "0.33.0", features = ["file_io", "openssl_sign", "openssl_ffi_mutex"] }
serde = { version = "1.0.197", features = ["derive"] }
tempfile = "3.10.1"
