[package]
name = "cawg-identity-core"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.78"
# c2pa = "0.31.0"
# ^^ TO DO: Restore this when external manifest branch is finalized.
ciborium = "0.2.2"
hex-literal = "0.4.1"
jumbf = "0.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"

[dependencies.c2pa]
git = "https://github.com/contentauth/c2pa-rs.git"
branch = "external_manifest"
features = ["file_io", "openssl_sign"]
# ^^ TO DO: Remove this once external_manifest branch is finalized and merged.

[dev-dependencies]
actix = "0.13.3"
# c2pa = { version = "0.31.0", features = ["file_io", "openssl_sign"] }
# ^^ TO DO: Restore this when external manifest branch is finalized.
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"
tempfile = "3.1.0"
