[package]
name = "cawg-identity-core"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.78"
c2pa = { version = "0.33.0", features = ["openssl_ffi_mutex"] }
ciborium = "0.2.2"
did-method-key = "0.2.2"
hex-literal = "0.4.1"
jumbf = "0.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"
serde_json = "1.0.114"
ssi = "0.7.0"
ssi-dids = "0.1.1"
ssi-json-ld = "0.2.2"
thiserror = "1.0.61"

[dev-dependencies]
actix = "0.13.3"
c2pa = { version = "0.33.0", features = ["file_io", "openssl_sign", "openssl_ffi_mutex"] }
serde = { version = "1.0.197", features = ["derive"] }
tempfile = "3.10.1"
