[package]
name = "cawg-identity-core"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.78"
c2pa = "0.32.4"
ciborium = "0.2.2"
hex-literal = "0.4.1"
jumbf = "0.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"
thiserror = "1.0.58"

[dev-dependencies]
actix = "0.13.3"
c2pa = { version = "0.32.4", features = ["file_io", "openssl_sign"] }
serde = { version = "1.0.197", features = ["derive"] }
tempfile = "3.1.0"
